name: chatrix_mobile
description: ChatriX mobile app skeleton.
publish_to: none
version: 0.1.0

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  dio: ^5.4.3
  flutter_riverpod: ^2.5.1
  flutter_secure_storage: ^9.2.2
  go_router: ^14.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
